POSTGRES_USER=maeJoana
POSTGRES_PASSWORD=SenhaDeMais!
POSTGRES_DB=Policia
POSTGRES_HOST=database
POSTGRES_PORT=5555

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
