apiVersion: v1
kind: Service
metadata:
  name: database
  namespace: plataforma-civica
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - name: db
      port: 5555
      targetPort: 5432